<!DOCTYPE html>
<html>

<head>
  <title> P E A R </title>
  <link rel="stylesheet" type="text/css" href="/style/welcomepage.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/scripts/welcomepage.js"></script>

  <!-- // <script src="Download the uncompressed, development jQuery 2.1.4"></script> -->

</head>

<body>
  <!-- Divided out another head in body for the log out purpose-->
  <header>
    <h1>  P E A R . <img src='style/pearicon.png' width=50px height=49px></h1>  <h1 id='signout'><a href="{{ signout_url }}"><font color="black">Log Out</font></a></h1>
  </header>

  <!--Welcome pic, information what is the website
  and about us as a developers -->
  <div id="scrollsections">
    <section id="scrollsec1">
      <img id= "scrollsec1pic" src="style/2015-07-27.jpg">

    <section id="scrollsec2">
      <h1>What is Pear?</h1>
      <h2>In ancient manuscripts, another means to divide sentences in into paragraphs was a line break (newline) followed by an initial at the beginning of the next paragraph. An initial is an oversize capital letter, sometimes outdented beyond the margin of text. This style can be seen, for example, in the original Old English manuscript of Beowulf. Outdenting is still used in English typography, though not commonly.[4] Modern English typography usually indicates a new paragraph by indenting the first line. This style can be seen in the (handwritten) United States Constitution from 1787. For additional ornamentation, a hedera leaf or other symbol can be added to the inter-paragraph whitespace, or put in the indentation space.

A second common modern English style is to use no indenting, but add vertical whitespace to create "block paragraphs." On a typewriter, a double carriage return produces a blank line for this purpose; professional typesetters (or word processing software) may put in an arbitrary vertical space by adjusting leading. This style is very common in electronic formats, such as on the World Wide Web and email.</h2>
    </section>
    <section id="scrollsec3">
      <h1>About Us</h1>
      <!-- Linh bio -->
      <div>

       </div>

      <br/>


      <br/>

<!-- profile pictures -->


          <div class="shrink pic">
        <img src="style/linh.jpg" alt="city">
              <div id="linh">

              Hi everyone, my name is Linh. I live in Seattle and will be
              attending University of Washing (Seattle campus) for upcoming
              fall quarter. I am thinking to do Human Center Design Engineer,
              or Cartooning, if I can't get in Computer Science Department.

              I just got introduce to the idea of computer science (coding) this year and
              still not too familiar, but working my way there. I was born in Vietnam but
              I'm not full Vietnamese, I am part Taiwanese(Chinese) and Cambodian. I came here
              when I was eleven. I can speak about 4 languages (I think).

              I draw and enjoy taking picture (just started this year). I play tennis, golf
              and bike during my free time. I also play violin. Oh, I am also a social media
              addict haha. There's no TV at my house, so I didn't really watch TV shows that
              much beside: Pretty Little Liars, The Fosters, Young and Hungry, The 100.

              I don't really talk that much in real life. I am quite awkward in person, and I
              sometimes tend make weird joke. I am exciting about this program and hope to get
              to know everyone before the program will end. :) ﻿</div>
          </div>

          <div class="shrink pic">
        <img src="style/steven.jpg" alt="city">
            <div id="steven">
              Hey everybody! My name is Steven and I will be travelling from
              Denver, Colorado to Seattle! Next year, I will be attending
              Carnegie Mellon University in Pittsburgh and studying Computer
              Science. I love sports from tennis to ultimate frisbee, so you
              know I'm going to bring one up to Seattle, but I also love to
              play video games with friends and watch any kind of Marvel movie
              or TV show. Now that high school and all of its stress is over,
              I'm pumped to meet every single one of you in July!﻿</div>
          </div>


          <div class="shrink pic">
        <img src="style/uka.jpg" alt="city">
            <div id="uka">
              Hello, Friends! My name is Uka, nice to meet you!

•	I hail from Denver, CO and yes, I’m a diehard Broncos fan (no regerts)
•	I’ll be shipped over to Brown University this fall
•	I’m left-handed
•	5’2”
•	I love music! Been playing violin for 11+ years, and if you have music suggestions, lemme know!
•	I love movies. (Shoutout to all the Back to the Future fans!)

I’m absolutely excited to meet all of incredibly talented people this summer :)﻿</div>

          </div>


  </div>

<!--Scroll Bar Menu for the home, log in, your thoughts and word page-->
  <div id="menu">
    <section id="sec1">
      <a href="/"><font color="white">Home</font></a>
    </section>

    <section id="sec2">
      <a href="/nodes"><font color="white">Word</font></a>
    </section>

    <section id="sec3">
      <a href="/survey"><font color="white">Your <br/> Thoughts </a>
    </section>

    <section id="sec4">
      {% if user %}
        hello, {{ user }}
      {% else %}
        <a href="{{ login_url }}" ><font color="white">Login</font></a>
      {% endif %}
    </section>
  </div>






</body>
</html>
