<!DOCTYPE html>
<html>

<head>
  <title> P E A R </title>
  <!-- CSS the font-->
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <!-- CSS for the this html -->
  <link rel="stylesheet" type="text/css" href="style/word_page.css">
  <!-- // <script src="scripts/forms.js"></script> -->
  <!-- CSS for the vis libray -->
  <link type = "text/css" rel = "stylesheet" href = "style/vis.css">
  <link type = "text/css" rel = "stylesheet" href = "style/vis.min.css">
  <!-- javascript for the vis library -->
  <script type = "text/javascript" src = "scripts/vis.js"></script>
  <!-- JQuery library-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- form for the nodes -->
  <script type = "text/javascript" src ="scripts/forms.js"></script>

  <!-- // <script src = "https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
</head>

<body>
  <header>
    <h1>  P E A R . </h1>  <h1 id='signout'><a href="{{ signout_url }}"><font color="black">Log Out</font></a></h1>

  </header>
  <div id="menu">
    <section id="sec1">
      <a href="/"><font color="white">Home</font></a>
    </section>

    <section id="sec2">
      <a href="/nodes"><font color="white">Word</font></a>
    </section>

  <!-- once user click on it, they should able go to your thoughts page-->
    <section id="sec3">
      <h6><a href="/survey"><font color="white">Your <br/> Thoughts</font></a></h6>

    </header>

  <!-- //    <script>
  //     document.getElementById({{name}}).innerHTML = "YES"
  // // </script> -->

    <section id='formnsidemenu'>
        <!--for user to insert words -->


      <!--Side Bar Menu-->
      <!-- <div id="menu">
        <section id="sec1">
          <a href="/"><font color="white">Home</font></a>
        </section>

        <section id="sec2">
          <a href="/nodes"><font color="white">Word</font></a>
        </section>

       once user click on it, they should able go to your thoughts page-->
        <!-- <section id="sec3">
          <h6><a href="/survey"><font color="white">Your <br/> Thoughts</font></a></h6>
        </section> --> -->

      <!-- user name should show on this page and no function will be add to log in-->
      <section id="sec4">
        {% if user %}
          hello, {{ user }}
        {% else %}
          <a href="{{ login_url }}" ><font color="white">Login</font></a>
        {% endif %}
      </section>

    </section>

  </div>
  <div id="mynetwork"></div>
  <script>
    // document.getElementById({{name}}).innerHTML = "YES"

  </script>

  <form id="wordinsert" width = 500px>
    <br/>
    First Word
    <input id = "first" type = "text" name = "first">
    <br/>
    <button id = "submitButton" type = "button" value = "Submit"></button>
  </form>


  </div>


<!--Side Bar Menu-->

</body>
</html>
