<!DOCTYPE html>
<html>

<head>
  <title> P E A R </title>
  <link rel="stylesheet" type="text/css" href="style/word_page.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <!-- // <script src="scripts/word_page.js"></script> -->
  <link type = "text/css" rel = "stylesheet" href = "/style/vis.css">
  <link type = "text/css" rel = "stylesheet" href = "style/vis.min.css">
  <!-- // <script type = "text/javascript" src = "https://visjs.org/dist/vis.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- // <script type = "text/javascript" src ="scripts/forms.js"></script> -->
  <script src = "https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- // <script src="Download the uncompressed, development jQuery 2.1.4"></script> -->


</head>

<body>
  <header>
    <h1>  P E A R . </h1>  <h1 id='signout'><a href="{{ signout_url }}"><font color="black">Log Out</font></a></h1>
  </header>  <div id="mynetwork"></div>
  <script>
    // document.getElementById({{name}}).innerHTML = "YES"
  </script>

  </div>


<!--Side Bar Menu-->
<div id="menu">
  <section id="sec1">
    <a href="/"><font color="white">Home</font></a>
  </section>

  <section id="sec2">
    <a href="/nodes"><font color="white">Word</font></a>
  </section>

<!-- once user click on it, they should able go to your thoughts page-->
  <section id="sec3">
    <h6><a href="/survey"><font color="white">Your <br/> Thoughts</font></a></h6>
  </section>

<!-- user name should show on this page and no function will be add to log in-->
<section id="sec4">
  {% if user %}
    hello, {{ user }}
  {% else %}
    <a href="{{ login_url }}" ><font color="white">Login</font></a>
  {% endif %}
</section>

</div>




</body>
</html>
