<!DOCTYPE html>
<html>

<head>
  <title> Pear </title>
  <link rel="stylesheet" type="text/css" href="/style/yourthoughts.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <!-- // <script src="/welcomepage_resources/welcomepage.js"></script> -->

  <!-- // <script src="Download the uncompressed, development jQuery 2.1.4"></script> -->

  <!-- //insert css
  //insert js  -->
</head>

<body>
  <h1> Pear. </h1>


  <form id="survey"action="/survey" method="POST">
    <br/>
    <br/>
    <br/>
    <div>What is your name? <br/> <input type="text" name="name"/></div>
    <div>Did you reach your brainstorming goal? <br/><input type="text" name="useful"/></div>
    <div><input type="submit" value="Submit"/></div>
  </form>






<!--Scroll Bar Menu-->
<div id="menu">
  <section id="sec1">
    <a href="/"><font color="white">Home</font></a>
  <!-- <img src="large.jpg"> -->
  </section>

  <section id="sec2">
    <a href="word_page.html"><font color="white">Word</font></a>
<!-- <img src="paris_19-wallpaper-1680x1050.jpg" width="40%"> -->
  </section>


  <section id="sec3">
      <a href="/survey"><font color="white">Your <br/> Thoughts</font></a>
<!-- <img src="paris_city_lights-wallpaper-2560x1600.jpg" width="40%"> -->
  </section>

  <section id="sec4">

  <a href="/login">Login</a>
<!-- <img src="338338-galaxy-hd-wallpaper.jpg" width=40%> -->
  </section>

</div>


<!--testing the scroll -->






</body>
</html>
