<!DOCTYPE html>
<html>

<head>
  <title> Pear </title>
  <link rel="stylesheet" type="text/css" href="/style/yourthoughts.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <!-- // <script src="/welcomepage_resources/welcomepage.js"></script> -->

  <!-- // <script src="Download the uncompressed, development jQuery 2.1.4"></script> -->

  <!-- //insert css
  //insert js  -->
</head>

<body>
  <!-- Divided out another head in body for the log out purpose-->
  <header>
    <h1>  P E A R . <img src='style/pearicon.png' width=50px height=49px></h1>  <h1 id='signout'><a href="{{ signout_url }}">Log Out</a></h1>
  </header>

  <form id="survey"action="/survey" method="POST">
    <br/>
    <br/>
    <br/>
    <div><font color="white">What is your name?</font> <br/><input type="text" name="username"/></div>
    <div><font color="white">Did you reach your brainstorming goal? </font><br/><input type="text" name="useful"/></div>
    <div><input type="submit" value="Submit"/>
      <div id="thank">
        {% if username %}
            Thank you, {{ username }}
        {% endif %}
      </div>
    </div>
  </form>
<!--Scroll Bar Menu-->
{% include "template/sidebar.html" %}

<!--testing the scroll -->
</body>
</html>
