#title {
  font-family: 'Quicksand', sans-serif;
  overflow-x: auto;

}
body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 500px;
}







#submitButton {
  width: 210px;
  height: 210px;

.vis-network {
  height: 500px;

}

#mynetwork{
  position: absolute;
  width: 100%;
  height: 100%;
}

h1{   /*style for header 1. Display everything in line*/
  display: inline-block;
}

#signout{   /*style the sign out function*/
  position: absolute;
  right: 60px;
  color: white;
}

#sec1 {
  background-image: url('sec1pic.jpg');
  color: white;
  overflow: auto;
  width: 15%;
  font-size: 3em;
  text-align: center;
  height: 200px;
}

#sec2 {
  background-image: url('sec2pic.jpg');
  overflow: auto;
  width: 15%;
  font-size: 3em;
  text-align: center;
  height: 200px;

}

#sec3 {
  background-image: url('sec3pic.jpg');
  width: 15%;
  color: white;
  overflow: auto;
  font-size: 3em;
  text-align: center;
  height: 200px;

}

#sec4 {
  background-image: url('sec4pic.jpg');
  font-size: 3em;
  width: 15%;
  overflow: auto;
  text-align: center;
  height: 200px;
}

#scroll {
  resize: auto;
  width: 80%;
  height: 800px;
  overflow: scroll;
  float: right;
  padding-right: 5%;
}


a:link{
  text-decoration: none;
}
