#title {
  font-family: 'Quicksand', sans-serif;
  overflow-x: auto;

}
body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}



#submitButton {
  width: 75px;
  height: 75px;
}



#mynetwork{
<<<<<<< HEAD:style/wordpage.css
  width: 80%;
  height: 80%;
  float: right;
}
=======

  border: solid black 10px;
  margin: auto;
  height: 500px;
  width: 1000px;

>>>>>>> e0f298092b2b1b27e8fc0e20b6d79a0039786f35:style/word_page.css

}
/*form section style */
#wordinsert{
<<<<<<< HEAD:style/wordpage.css
  float: right;
  padding-right: 905px;
=======
  /*padding-right: 974px;*/
>>>>>>> e0f298092b2b1b27e8fc0e20b6d79a0039786f35:style/word_page.css
  font-size: 2em;
  color: red;
}

/* style for the submit button*/
#submitButton {
  width: 85px;
  height: 30px;
  border-radius: 10px;
  background-color: white;

}

#formnsidemenu{
  background-image: url('wordbackground.jpg');
  color: white;
}
h1{   /*style for header 1. Display everything in line*/
  display: inline-block;
}


#signout{   /*style the sign out function*/
  position: absolute;
  right: 60px;
  color: blue;
}

#sec1 {
  background-image: url('sec1pic.jpg');
  color: white;
  overflow: auto;
  width: 15%;
  font-size: 3em;
  text-align: center;
  height: 200px;
}

#sec2 {
  background-image: url('sec2pic.jpg');
  overflow: auto;
  width: 15%;
  font-size: 3em;
  text-align: center;
  height: 200px;

}

#sec3 {
  background-image: url('sec3pic.jpg');
  width: 15%;
  color: white;
  overflow: auto;
  font-size: 3em;
  text-align: center;
  height: 200px;

}

#sec4 {
  background-image: url('sec4pic.jpg');
  font-size: 3em;
  width: 15%;
  overflow: auto;
  text-align: center;
  height: 200px;
}

#scroll {
  resize: auto;
  width: 80%;
  height: 800px;
  overflow: scroll;
  float: right;
  padding-right: 5%;
}

a:link{
  text-decoration: none;
}
